@charset "utf-8";  
  
/* CSS Document */  

html {
	background-color: #fffaf2;
}
  
.h1 {  
    text-align: center;
    font-family: Impact, fantasy;
	font-stretch: extra-expanded;
    color: black;  
}  
  
.h2 {  
    color: #996;  
}  
  
.p {  
    color: #9C9;  
}  

/*
#bg {
		-moz-transform: scale(1.0);
		-webkit-transform: scale(1.0);
		-ms-transform: scale(1.0);
		transform: scale(1.0);
		-webkit-backface-visibility: hidden;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		z-index: 1;
	}

		#bg:before, #bg:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		#bg:before {
			-moz-transition: background-color 2.5s ease-in-out;
			-webkit-transition: background-color 2.5s ease-in-out;
			-ms-transition: background-color 2.5s ease-in-out;
			transition: background-color 2.5s ease-in-out;
			-moz-transition-delay: 0.75s;
			-webkit-transition-delay: 0.75s;
			-ms-transition-delay: 0.75s;
			transition-delay: 0.75s;
			background-image: linear-gradient(to top, rgba(19, 21, 25, 0.5), rgba(19, 21, 25, 0.5)), url("../../images/overlay.png");
			background-size: auto,
 256px 256px;
			background-position: center,
 center;
			background-repeat: no-repeat,
 repeat;
			z-index: 2;
		}

		#bg:after {
			-moz-transform: scale(1.125);
			-webkit-transform: scale(1.125);
			-ms-transform: scale(1.125);
			transform: scale(1.125);
			-moz-transition: -moz-transform 0.325s ease-in-out, -moz-filter 0.325s ease-in-out;
			-webkit-transition: -webkit-transform 0.325s ease-in-out, -webkit-filter 0.325s ease-in-out;
			-ms-transition: -ms-transform 0.325s ease-in-out, -ms-filter 0.325s ease-in-out;
			transition: transform 0.325s ease-in-out, filter 0.325s ease-in-out;
			background-image: url("../../images/lighttanbg.jpg");
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			z-index: 1;
		}

		body.is-article-visible #bg:after {
			-moz-transform: scale(1.0825);
			-webkit-transform: scale(1.0825);
			-ms-transform: scale(1.0825);
			transform: scale(1.0825);
		}

		body.is-preload #bg:before {
			background-color: #000000;
		}
  */

.body {  
    /* background-image: url("../../images/bg.jpg"); */
	background-color: #fffcf8;
}  
  
.wrapper {  
    width: 880px;  
    height: 950px;  
    overflow: hidden;  
    margin: 30px auto 30px auto;  
    position: relative;  
}  
  
.header {  
    width: 880px;  
    height: 130px;  
}  
  
.header-logo {  
    width: 183px;  
    height: 120px;  
    background-image: url(sma-solar-technology-logo.png);  
    background-image: no-repeat;  
    float: left;  
}  
  
.header-text {  
    width: 100px;  
    height: 120px;  
    margin: 0 5px;  
    float: left;  
}  
  
.header-mini-logo {  
    width: 84px;  
    height: 16px;  
    float: right;  
    margin: 5px;  
}  
  
.navbar {  
    width: 880px;  
    height: 40px;  
    background-image: url(menu_bg.jpg);  
}  
  
.navbar ul {  
    width: auto;  
    float: left;  
    display: block;  
    list-style: none;  
    padding: 2px 0 0 130px;  
    margin: 0px;  
    text-align: center;  
}  
  
.navbar ul li {  
    display: inline;  
    padding: 0px;  
    margin: 0px;  
    height: 37px;  
}  
  
.navbar ul li a {  
    display: block;  
    padding: 0px;  
    padding: 0 17px 0 17px;  
    float: left;  
    text-decoration: none;  
    text-align: center;  
    color: #fff;  
    font-size: 13px;  
    line-height: 34px;  
}  
  
.navbar ul li a:hover {  
    color: #0C9;  
}  
  
.mainbody {  
    width: 870px;  
    height: 750px;  
    margin: 15px 2px 0px 2px;  
    border-radius: 10px;  
    background-color: #fff;  
}  
  
.mainbody-right {  
    width: 150px;  
    height: 300px;  
    border-radius: 10px;  
    margin: 10px 10px 0px 10px;  
    float: right;  
}  
  
.mainbody-right a {  
    color: #996;  
    text-decoration: none;  
}  
  
.mainbody-right a:hover {  
    color: #0C9;  
    text-decoration: underline;  
}  
  
.mainbody-center {  
    width: 670px;  
    height: auto;  
    border-radius: 10px;  
    margin: 10px 10px 0px 10px;  
    float: left;  
}  
  
.footer {  
    width: 880px;  
    height: 40px;  
    background-image: url(menu_bg.jpg);  
    margin: 10px auto 20px auto;  
}  
  
.footer p {  
    color: #fff;  
    margin: 2px;  
    padding: 3px;  
}  
  
.footer a {  
    color: #fff;  
    margin: 2px;  
    padding: 3px;  
    text-decoration: none;  
}  
  
.footer a:hover {  
    color: #0C9;  
    text-decoration: underline;  
}  
  
.footer-right {  
    width: 80px;  
    height: 40px;  
    float: right;  
}  
  
.footer-right a {  
    color: #fff;  
}
